body, html {
  width: 100%; }

header {
  text-align: center;
  font-family: sans-serif;
  height: 100px;
  color: white;
  background: black; }

ul {
  list-style-type: none;
  padding-left: 0px; }

h3, li, .lead {
  text-align: center;
  text-decoration: none; }

h3, .lead {
  font-family: sans-serif; }
