.signin {
  margin: 7px; }

.bord {
  border: 0px; }

.crea {
  padding-bottom: 40px; }

.lastul {
  display: inline;
  color: #ffffff; }

.lastli {
  display: inline; }

.mahesh {
  padding-top: 15px; }

.social-fb {
  color: #ffffff; }

.social-tw {
  color: #ffffff; }

.social-gp {
  color: #ffffff; }

.social-ld {
  color: #ffffff; }

.social-gh {
  color: #ffffff; }
